<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="form-row">
        <h1>Edit Patient</h1>
        <form action="/patients/edit/<%= patient.patient_id %>" method="POST">

            <div class="input-data">
                <input type="text" name="first_name" value="<%= patient.first_name %>" placeholder="First Name" required><br>
            </div>
            
            <div class="input-data">
                <input type="text" name="last_name" value="<%= patient.last_name %>" placeholder="Last Name" required><br>
            </div>
            
            <div class="input-data">
                <input type="date" name="date_of_birth" value="<%= patient.date_of_birth %>" required placeholder="Date of Birth"><br>
            </div>
            
            <div class="input-data">
                <input type="text" name="gender" value="<%= patient.gender %>" required placeholder="Gender"><br>
            </div>
            
            <div class="input-data">
                <input type="text" name="language" value="<%= patient.language %>" required placeholder="Language"><br>
            </div>
            
            <div class="submit-btn">
                <button type="submit" class="update-btn">Update Patient</button>
            </div>
            
        </form>

    </div>
</body>
</html>
